services:

  # MySQL Database Service
  mysqlv8:
    image: mysql:8.0
    container_name: mysqlv8
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: localdb
      MYSQL_USER: localuser
      MYSQL_PASSWORD: localpassword
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Django Service
  django:
    build:
      context: ./stack/django
      dockerfile: Dockerfile
    container_name: django-service
    volumes:
      - $HOME/.ssl:/root/.ssl:ro
      - ./stack/django:/app/django
      - ./stack/django/__pycache__:/app/django/__pycache__:cached  # Speed up reloads
    env_file:
      - ./stack/django/.env
    depends_on:
      mysqlv8:
        condition: service_healthy
    ports:
      - "8081:8081"
    extra_hosts:
      - "localapi.oaexample.com:127.0.0.1"

  # ReactJS Frontend Service
  reactjs:
    build:
      context: ./stack/reactjs
      dockerfile: Dockerfile
    container_name: reactjs-service
    volumes:
      - ./stack/reactjs:/app/reactjs
      - $HOME/.ssl:/root/.ssl:ro
    depends_on:
      django:
        condition: service_started
    ports:
      - "3001:3001"
    extra_hosts:
      - "localhost.oaexample.com:127.0.0.1"

  # Fake data generator
  databuilder:
    build:
      context: ./stack/databuilder
      dockerfile: Dockerfile
    container_name: databuilder-service
    volumes:
      - ./stack/databuilder:/app/databuilder
    depends_on:
      django:
        condition: service_started
    extra_hosts:
      - "localapi.oaexample.com:127.0.0.1"

  # Front-end end-to-end testing
  cypress:
    build:
      context: ./stack/cypress
      dockerfile: Dockerfile
    container_name: cypress-service
    volumes:
      - ./stack/cypress:/app/cypress
      - /tmp/.X11-unix:/tmp/.X11-unix # For GUI if needed
    environment:
      - DISPLAY=:99.0 # For Xvfb headless mode
    depends_on:
      reactjs:
        condition: service_started
    extra_hosts:
      - "localapi.oaexample.com:127.0.0.1"
      - "localhost.oaexample.com:127.0.0.1"

networks:
  default:
    name: my_oaexample_network

volumes:
  mysql-data:
